@import url("../../theme.css");

.confirmEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.confirmEmail.light {
    background-color: #4e6ee5;
    color: #1d1d1d;
}
.confirmEmail.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.confirmEmail .confirmEmail-container {
    width: 70%;
    max-width: 800px;
    min-width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px 0px;
    border-radius: 20px;

    display: flex;
    align-items: center;
}
.confirmEmail.light .confirmEmail-container {
    background-color: #fff;
    box-shadow: 2px 2px 8px #000;
}
.confirmEmail.dark .confirmEmail-container {
    background-color: var(--background-dark);
    box-shadow: 2px 2px 8px var(--shadow-dark);
}

.confirmEmail .confirmEmail-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.confirmEmail .confirmEmail-title {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0px;
}

.confirmEmail .confirmEmail-message {
    text-align: center;
    font-size: 17px;
    padding: 15px;
    line-height: 30px;
}

.confirmEmail .confirmEmail-message span {
    font-weight: 600;
}

.confirmEmail .confirmEmail-button button {
    margin-top: 20px;
    background-color: #4d7af7;
    border-radius: 10px;
    padding: 15px 30px;
    outline: none;
    font-size: 20px;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
}
