# Ignore node_modules directory in both backend and frontend folders
backend/node_modules/
frontend/node_modules/

# Ignore build directories in both backend and frontend folders
backend/build/
frontend/build/

# Ignore any logs
*.log

# Ignore environment variables
.env

# Ignore any compiled binaries or archives
*.exe
*.dll
*.so
*.dylib
*.jar
*.war
*.ear
*.class

# Ignore any OS or editor-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Ignore any local configuration files
*.local
