@import url(../../theme.css);

.taskBlock {
  border-radius: 15px;
  display: flex;
  padding: 15px 0px;
  width: 350px;
  margin: 10px;
  min-height: 80px;
}

.taskBlock.dark {
  background-color: var(--task-dark);
  color: var(--text-dark);
}
.taskBlock.light {
  background-color: var(--task-light);
  color: var(--text-light);
}

.taskBlock .taskBlock-content {
  flex: 5;
  text-align: left;
  padding-left: 40px;
}
