@import url("../../theme.css");

.shareModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.shareModal .shareModal-container {
    position: relative;
    width: 510px;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #ccc;
}
.shareModal.light .shareModal-container {
    background-color: var(--background-light);
    box-shadow: 2px 2px 5px var(--shadow-light);
}
.shareModal.dark .shareModal-container {
    background-color: var(--background-dark);
    box-shadow: 1px 1px 2px var(--shadow-dark);
}

.shareModal .shareModal-title {
    text-align: center;
    padding: 5px 0px 10px 0px;
    font-size: 20px;
    font-weight: 500;
}

.shareModal .shareModal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}
.shareModal .shareModal-close:hover {
    transform: scale(1.1);
}

.shareModal .shareModal-list {
    border-radius: 10px;
    margin: 10px auto;
    width: 100%;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    min-height: 100px;
}
.shareModal .shareModal-list::-webkit-scrollbar {
    display: none;
}

.shareModal .shareModal-table {
    border-collapse: collapse;
    width: 100%;
}
.shareModal .shareModal-table tr td {
    padding: 5px 0px;
    text-align: center;
    position: relative;
}

.shareModal .shareModal-table tr td span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.shareModal.light .shareModal-table tr:nth-child(even) {
    background-color: #f8f6ff;
}
.shareModal.dark .shareModal-table tr:nth-child(even) {
    background-color: var(--task-dark);
}

.shareModal .shareModal-table th {
    background-color: var(--main-color);
    color: var(--text-dark);
    padding: 15px;
    position: sticky;
    top: 0px;
    z-index: 99999;
}

.shareModal .shareModal-table td > div {
    display: flex;
    justify-content: center;
}

.shareModal .shareModal-table .shareModal-table-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shareModal
    .shareModal-table
    .shareModal-table-actions
    .shareModal-table-function {
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    justify-content: center;
}
.shareModal
    .shareModal-table
    .shareModal-table-actions
    .shareModal-table-function:disabled {
    cursor: not-allowed;
}
.shareModal.dark
    .shareModal-table
    .shareModal-table-actions
    .shareModal-table-function {
    background-color: var(--background-dark);
}
.shareModal.light
    .shareModal-table
    .shareModal-table-actions
    .shareModal-table-function {
    background-color: var(--background-light);
}

.shareModal
    .shareModal-table
    .shareModal-table-actions
    .shareModal-table-function.delete {
    color: red;
    border: 2px solid red;
}

.shareModal
    .shareModal-table
    .shareModal-table-actions
    .shareModal-table-function.save {
    border: 2px solid green;
    color: green;
}

.shareModal
    .shareModal-table
    .shareModal-table-actions
    .shareModal-table-function.edit {
    border: 2px solid rgb(239, 155, 0);
    color: rgb(239, 155, 0);
}

.shareModal .shareModal-add {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 40px;
}

.shareModal .shareModal-add .shareModal-add-container {
    border-radius: 6px;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    color: green;
    font-size: 14px;
    cursor: pointer;
}

.shareModal .shareModal-add .shareModal-add-icon {
    font-size: 14px;
    padding-right: 5px;
    font-weight: 600;
    position: relative;
    top: 2px;
}

.shareModal .shareModal-function {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 5px;
}

.shareModal .shareModal-function .shareModal-function-button {
    display: block;
    padding: 6px 20px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}
.shareModal .shareModal-function .shareModal-function-button:disabled {
    cursor: not-allowed;
}

.shareModal .shareModal-function .shareModal-function-button.share {
    border: none;
    background-color: var(--button-color);
    color: var(--text-dark);
    margin-right: 10px;
}

.shareModal.light .shareModal-function .shareModal-function-button.cancel {
    border: 1px solid var(--text-light);
    background-color: var(--background-light);
    color: var(--text-light);
    margin-right: 30px;
}
.shareModal.dark .shareModal-function .shareModal-function-button.cancel {
    border: 1px solid var(--text-dark);
    background-color: var(--background-dark);
    color: var(--text-dark);
    margin-right: 30px;
}
