@import url("../../theme.css");

.leftMenu {
    position: fixed;
    top: 0px;
    left: -250px;
    height: 100vh;
    width: 250px;
    border-right: 1px solid #ccc;
    border-bottom-right-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.leftMenu.show {
    left: 0;
}

.leftMenu.dark {
    background-color: var(--background-dark);
}
.leftMenu.light {
    background-color: var(--background-light);
}

.leftMenu .leftMenu-header {
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
}
.leftMenu.dark .leftMenu-header {
    box-shadow: 1px 1px 3px var(--shadow-dark);
}
.leftMenu.light .leftMenu-header {
    box-shadow: 1px 1px 2px var(--shadow-light);
}

.leftMenu .leftMenu-logo {
    padding: 0px 10px;
}

.leftMenu.show .leftMenu-button {
    display: flex;
}

.leftMenu .leftMenu-button {
    display: none;
    position: absolute;
    top: -10px;
    right: -50px;
    font-size: 20px;
    /* border-radius: 50%; */
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: var(--background-dark);
}

.leftMenu .leftMenu-button::after {
    content: "";
    height: 33px;
    width: 3px;
    position: absolute;
    top: 0px;
    left: -1px;
    background-color: var(--background-dark);
}
.leftMenu.dark .leftMenu-button,
.leftMenu.dark .leftMenu-button::after {
    background-color: var(--background-dark);
}
.leftMenu.light .leftMenu-button,
.leftMenu.light .leftMenu-button::after {
    background-color: var(--background-light);
}

.leftMenu .leftMenu-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.leftMenu .leftMenu-item {
    padding: 13px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}
.leftMenu .leftMenu-item:hover {
    background-color: var(--main-color);
    color: var(--text-dark);
}

.leftMenu .leftMenu-item-icon {
    position: relative;
    padding-right: 15px;
    top: 3px;
}

.leftMenu .leftMenu-bottom {
    padding-bottom: 30px;
}

.leftMenu .leftMenu-theme {
    display: flex;
    padding: 13px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leftMenu .leftMenu-theme .leftMenu-theme-label {
    margin-right: 20px;
}
