@import url("../../theme.css");

.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 5px;
}
.reset-password.light {
    background-color: var(--background-light);
    color: var(--text-light);
}
.reset-password.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}
.reset-password.dark label {
    color: var(--main-color);
}

.reset-password .reset-password-container {
    width: 450px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ebeef5;
}
.reset-password .reset-password-logo {
    height: 80px;
    display: flex;
    justify-content: center;
}
.reset-password .reset-password-title {
    text-align: center;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    display: block;
    padding: 20px 0px;
}
.reset-password .reset-password-form .ant-form-item {
    margin: 8px 0px 13px 0px;
}

.reset-password .ant-input {
    height: 30px;
}

.reset-password.dark .reset-password-container .ant-input-prefix,
.reset-password.dark
    .reset-password-container
    .ant-input-password
    .ant-input-suffix
    .ant-input-password-icon {
    color: var(--text-dark);
}

.reset-password.dark .ant-input-outlined {
    background-color: var(--background-dark) !important;
}

.reset-password .ant-input {
    text-indent: 10px;
}
.reset-password.light .ant-input {
    background-color: var(--column-light);
}
.reset-password.dark .ant-input {
    background-color: var(--task-dark);
    color: var(--text-dark);
}
.reset-password.dark .ant-input::placeholder {
    color: #999;
}

.reset-password .reset-password-container .reset-password-form-function {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.reset-password.light
    .reset-password-container
    .reset-password-form-function
    a {
    color: var(--second-color);
    font-weight: 500;
}
.reset-password.dark .reset-password-container .reset-password-form-function a {
    color: var(--main-color);
    font-weight: 500;
}
.reset-password.light
    .reset-password-container
    .reset-password-form-function
    a:hover {
    color: #773ec7;
    text-decoration: underline;
}
.reset-password.dark
    .reset-password-container
    .reset-password-form-function
    a:hover {
    color: var(--button-color);
    text-decoration: underline;
}

.reset-password .reset-password-container .reset-password-form-submit {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    outline: none;
    border: 1px solid;
}

.reset-password.light .reset-password-container .reset-password-form-submit {
    color: #ffc562;
    background-color: var(--second-color);
}
.reset-password.dark .reset-password-container .reset-password-form-submit {
    color: var(--text-dark);
    background-color: var(--main-color);
}
.reset-password
    .dark
    .reset-password-container
    .reset-password-form-submit:hover {
    background-color: var(--button-color);
}
