@import url("../../theme.css");

.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 5px;
}
.forgot-password.light {
    background-color: var(--background-light);
    color: var(--text-light);
}
.forgot-password.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.forgot-password.dark label {
    color: var(--main-color);
}

.forgot-password .forgot-password-container {
    width: 450px;
    border-radius: 15px;
    padding: 40px 20px 20px 20px;

    border: 1px solid #ebeef5;
}
.forgot-password.light .forgot-password-container {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}
.forgot-password.dark .forgot-password-container {
    box-shadow: 0 2px 5px 0 var(--shadow-dark);
}

.forgot-password .forgot-password-logo {
    height: 80px;
    display: flex;
    justify-content: center;
}
.forgot-password .forgot-password-title {
    text-align: center;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    display: block;
    padding: 20px 0px;
}
.forgot-password .forgot-password-description {
    line-height: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    text-indent: 25px;
    text-align: center;
    padding: 0px 10px;
}
.forgot-password .forgot-password-form .ant-form-item {
    margin: 8px 0px 13px 0px;
}
.forgot-password .forgot-password-form-input {
    height: 45px;
}
.forgot-password .forgot-password-form-input .ant-input-prefix {
    padding: 0 5px;
}
.forgot-password .forgot-password-form-input .ant-input {
    text-indent: 10px;
}
.forgot-password.dark .forgot-password-form-input .ant-input {
    background-color: var(--task-dark);
    color: var(--text-dark);
}
.forgot-password.dark .forgot-password-form-input.ant-input-outlined {
    background-color: var(--background-dark) !important;
}

.forgot-password .forgot-password-form-function {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.forgot-password.light .forgot-password-form-function a {
    color: var(--second-color);
    font-weight: 500;
}
.forgot-password.light .forgot-password-form-function a:hover {
    color: #773ec7;
    text-decoration: underline;
}
.forgot-password.dark .forgot-password-form-function a {
    color: var(--main-color);
    font-weight: 500;
}
.forgot-password.dark .forgot-password-form-function a:hover {
    color: var(--button-color);
    text-decoration: underline;
}

.forgot-password .forgot-password-form-submit {
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}
.forgot-password.light .forgot-password-container .forgot-password-form-submit {
    color: #ffc562;
    background-color: var(--second-color);
}
.forgot-password.dark .forgot-password-container .forgot-password-form-submit {
    color: var(--text-dark);
    background-color: var(--main-color);
}
.forgot-password.dark
    .forgot-password-container
    .forgot-password-form-submit:hover {
    background-color: var(--button-color);
}
