:root {
    --main-color: #6699cc;
    --second-color: #20004d;
    --button-color: #3890ee;

    /* Dark theme colors */
    --background-dark: #2a2b2f;
    --text-dark: #f0f0f0;
    --task-dark: #36383f;
    --column-dark: #24262c;
    --scrollbar-thumb-dark: #888;
    --scrollbar-thumb-hover-dark: #555;
    --scrollbar-track-dark: #333;
    --scrollbar-thumb-active-dark: #666;
    --task-progress-dark: #3f4147;
    --shadow-dark: #ccc;

    /* Light theme colors */
    --background-light: #ffffff;
    --text-light: #333238;
    --task-light: #ffffff;
    --column-light: #ececef;
    --task-progress-light: #ececef;
    --shadow-light: #5b5b5b;
}
